dacite
marshmallow
webargs==5.3.0
pysqlite3
cachetools==3.1.0
dataclasses-json==0.2.2
filetype==1.0.5
Flask==1.0.2
Flask-SocketIO==3.3.2
Flask-SQLAlchemy==2.3.2
funcy==1.11
fuzzywuzzy==0.17.0
python-Levenshtein
gevent==1.4.0
gevent-websocket==0.10.1
IMDbPY==6.6
Jinja2==2.11.3
jsons==0.8.0
pathlib2==2.3.3
regex==2019.3.9
requests==2.21.0
Rx==1.6.1
tmdbsimple==2.2.0
tvdb-api==2.0
Unidecode==1.0.23
urllib3==1.24.1
whatever==0.5
